.container {
  height: 95vh;
  background-image: url(../../assets/img/background_about.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: none;

  .aboutDiv {
    width: 50%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

    h1 {
      width: 100%;
      margin-bottom: 2rem;
      font-weight: 600;
      color: #fff;
    }

    p {
      width: 100%;
      margin: 2rem 0;
      color: #fff;
    }

    button {
      background: #fff;
      border: #52bada solid 1px;
      border-radius: 2rem;
      color: #52bada;
      cursor: pointer;
      scale: 1.2;
      a {
        text-decoration: none;
        color: #52bada;
      }
    }

    button:hover {
      background: #52bada;
      color: #fff;
      border: #fff solid 1px;
      scale: 1.25;
      a {
        text-decoration: none;
        color: #fff;
      }
    }


  }

  .localizationDiv {
    width: 50%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      width: 100%;
      font-weight: 600;
      color: #fff;
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    .aboutDiv {
      width: 90%;
      align-items: center;
      margin-top: 22rem;

      h1 {
        text-align: center;
        font-size: 18px;

      }

      p {
        text-align: start;
      }
    }

    .localizationDiv {
      width: 80%;
      align-items: center;

      h1 {
        text-align: center;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 376px) {
  .container {
    height: 95vh;

    .aboutDiv {
      // margin-top: 30rem;

      h1 {
        font-size: 16px;
        margin-bottom: 0;
      }

      p {
        font-size: 14px;
      }
    } 

    button {
      width: 170px;
      font-size: 13px;
    }

    .localizationDiv {
      h1 {
        font-size: 10px;
      }
    } 

  }
}