.container {
  width: 100%;
  height: 94vh;
  background-image: url(../../assets/img/background_blur.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;


  .imgLogo {
    width: 25rem;
    max-height: 300px;
    margin: 5rem;
    margin-top: -1rem;
  }

  .text {
    width: 60%;
    margin: 5rem;
    color: #fff;
    text-align: justify;

    h1 {
      margin-bottom: 2rem;
      font-weight: 600;
      text-align: center;
    }

    button {
      margin: 2rem 3rem;
    }

    .divbtn {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .btn1 {
      background: #52bada;
      border: #fff solid 1px;
      border-radius: 2rem;
      color: #fff;
      cursor: pointer;
      padding: 0.5rem 1rem;
      scale: 1.2;

      a {
        text-decoration: none;
        color: #fff;
      }
    }

    .btn1:hover {
      background: #fff;
      color: #52bada;
      border: #52bada solid 1px;
      scale: 1.25;
      a {
        text-decoration: none;
        color: #52bada;
      }
    }

    .btn2 {
      background: transparent;
      border: #52bada solid 1px;
      border-radius: 2rem;
      color: #52bada;
      cursor: pointer;
      padding: 0.5rem 1rem;
      scale: 1.2;
      a {
        text-decoration: none;
        color: #52bada;
      }
    }

    .btn2:hover {
      background: #fff;
      color: #52bada;
      border: #52bada solid 1px;
      scale: 1.25;
    }
  }
}

@media (max-width: 768px) {
  
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 100vh;
    margin-top: -50px;
    

    h1 {
      font-size: 15px;
    }

    .imgLogo {
      width: 20vh;
      margin: 0;
    }

    .text {
      width: 100%;
      margin: 0;
      text-align: justify;

      p {
        margin-top: 2rem;
      }

      .divbtn {
        margin-top: 3rem;
      }

      button {
        width: 150px;
        font-size: 10px;
        margin: 20px;
      }
    }


    .btn1 {
      width: 250px;
      font-size: 10px;
    }


  }
}


@media (max-width: 376px) {
  .container {
    height: 100vh;
    margin-top: -5px;

    h1 {
      font-size: 13px;
    }

    
    p {
      font-size: 13px;
    }

    .divbtn {
      padding-bottom: 3rem;

      button {
        width: 125px;
        font-size: 8.5px;
        margin: 20px;
      }
    }
  }

  

}