.container {
  width: 100%;
  height: 94vh;
  background-image: url(../../assets/img/background_blur.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;


  .imgLogo {
    width: 25rem;
    max-height: 300px;
    margin: 5rem;
    margin-top: -1rem;
  }

  .divTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .titleTwo {
      color: #fff;
      display: none;
    }
  }

  .text {
    width: 60%;
    margin: 5rem;
    color: #fff;
    text-align: start;

    h1 {
      margin-bottom: 2rem;
      font-weight: 600;
      text-align: center;
    }

    button {
      margin: 2rem 3rem;
    }

    .divbtn {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .btn1 {
      background: #52bada;
      border: #fff solid 1px;
      border-radius: 2rem;
      color: #fff;
      cursor: pointer;
      scale: 1.2;

      a {
        text-decoration: none;
        color: #fff;
      }
    }

    .btn1:hover {
      background: #fff;
      color: #52bada;
      border: #52bada solid 1px;
      scale: 1.25;
      a {
        text-decoration: none;
        color: #52bada;
      }
    }

    .btn2 {
      background: transparent;
      border: #52bada solid 1px;
      border-radius: 2rem;
      color: #52bada;
      cursor: pointer;
      scale: 1.2;
      a {
        text-decoration: none;
        color: #52bada;
      }
    }

    .btn2:hover {
      background: #fff;
      color: #52bada;
      border: #52bada solid 1px;
      scale: 1.25;
    }
  }
}

@media (max-width: 768px) {
  
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 90vh;
    justify-content: space-around;

    .divTitle {
      .titleTwo {
        display: block;
      }
    }

    h1 {
      font-size: 15px;
    }

    .imgLogo {
      width: 20vh;
      margin: 0;
    }

    .text {
      width: 100%;
      margin: 0;
      text-align: start;

      .titleOne {
        display: none;
      }

      p {
        margin-top: 2rem;
      }

      .divbtn {
        margin-top: 3rem;
      }

      button {
        width: 150px;
        font-size: 10px;
        margin: 20px;
      }
    }


    .btn1 {
      width: 250px;
      font-size: 10px;
    }


  }
}

@media (max-width: 415px){
  .container {
    height: 95vh;
    display: flex;
    justify-content: space-between;

    .titleTwo {
      font-size: 0.9rem;
    }

    .text {
      padding-bottom: 5rem;


      p {
        font-size: 0.9rem;
      }
    }

    .divbtn {
      padding-top: 5rem;
    }


  }
}

@media (max-width: 391px) {
  .container {

    .titleTwo {
      font-size: 0.8rem;
    }
    .text {
      p {
        font-size: 0.8rem;
      }

      .divbtn {
        .btn1{
          width: 230px;
        }
        .btn2{
          width: 210px;
        }
      }
    }
  }
}

@media (max-width: 376px) {
  .container {
    height: 93vh;
    display: flex;
    justify-content: space-around;
    
    h1 {
      font-size: 13px;
    }

    
    p {
      font-size: 0.8rem;
    }

    .divbtn {
      padding-top: 2rem;

      button {
        width: auto;
        font-size: 8.5px;
        margin: 20px;
      }
    }
  }

  

}