.container {
  display: flex;
  flex-direction: column;
  background-color: #0a075f;
  color: #fff;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 1rem;
  img {
    width: 90px;
  }

}

  .realizationAndPartners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
  }

  .realization {
    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

  }

  .partners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

  }


    .logos img {
    max-width: 10rem;
    padding: 1rem;
    
  }


@media (max-width: 768px) {
  .container {
    .realizationAndPartners {
      display: flex;
      flex-direction: column;
      align-items: center;

      .partners {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;  

      }

      .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
}
